@charset "UTF-8";
.body {
  background: #F4F5F7;
  color: #0C0C0C;
  font-family: 'Noto Sans', sans-serif; }

/*----------------------------------------------------
  スライドショー
----------------------------------------------------*/
.slideshow-images .img {
  width: 100%;
  height: auto; }

/*----------------------------------------------------
  ナビゲーション
----------------------------------------------------*/
.nav-menu > .container {
  z-index: 900; }

/*------------------
  ナビタイトル
--------------------*/
.navbar > .nav > .title {
  color: #0C0C0C;
  font-size: 1.3rem;
  font-weight: 800; }
