@charset "UTF-8";

$baseColor: #F4F5F7;
$mainColor: #0C0C0C;
$accentColor: #00AA90;

.body {
  background: $baseColor;
  color: $mainColor;
  font-family: 'Noto Sans', sans-serif;
}

/*----------------------------------------------------
  スライドショー
----------------------------------------------------*/
.slideshow-images {
  .img {
    width: 100%;
    height: auto;
  }
}

/*----------------------------------------------------
  ナビゲーション
----------------------------------------------------*/
.nav-container {
  & {
    z-index: 900;
  }
  > .logo {
    float: left;
    margin-left: 2rem;
  }
}

/*------------------
  ナビタイトル
--------------------*/
.navbar {
  > .nav {
    > .title {
      color: $mainColor;
      font-size: 1.3rem;
      font-weight: 800;
    }
  }
}